In [185]:
import numpy as np
import pandas as pd
from datetime import datetime

# Import data from addresses.csv file

In [186]:
data = pd.read_csv("addresses.csv")
data

,firstname,lastname,middlename,birthdate,street,city,state,postcode
0,John,Doe,Stephen,2/17/1999,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,Jordan,3/18/2000,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,Peter,04/19/2001,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,Parker,5/20/1999,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,Tony,Blankman,Sydney,6/19/20,1999 Boshton,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Bruce,Jet,1/1/2000,"9th, at Terrace plc",Desert City,CO,123
6,Loc,Nguyen,Vo,2/17/1999,123 Lac Long Quan,Khanh Hoa,VN,75000

# Visualize data

In [187]:
# The size of data (7 rows, 6 columns)

data.shape

(7, 8)

In [188]:
print("List of column name:", data.columns)
print("The 4th column name:", data.columns[3])

List of column name: Index(['firstname', 'lastname', 'middlename', 'birthdate', 'street', 'city',
       'state', 'postcode'],
      dtype='object')
The 4th column name: birthdate

In [189]:
# Get firstname data

data["firstname"]

0                     John
1                     Jack
2            John "Da Man"
3                  Stephen
4                     Tony
5    Joan "the bone", Anne
6                      Loc
Name: firstname, dtype: object

In [190]:
# Get first row in data

data.iloc[0]

firstname                  John
lastname                    Doe
middlename              Stephen
birthdate             2/17/1999
street        120 jefferson st.
city                  Riverside
state                        NJ
postcode                   8075
Name: 0, dtype: object

In [191]:
# get street from the first row in data

data.iloc[1]["street"]

'220 hobo Av.'

# Convert from csv file to dictionaries

In [210]:
def to_datetime(datetime_string):   
    """
    This function convert a string of datetime to the type datetime in python
    It receives a string parameter with format: mm/dd/yyyy. For example:
        1. Valid format: "01/19/2000", "1/1/0001"
        2. Invalid format: "01 19 2000", "21/01/1999", "01/19/200", "01/19/20"

    :param datetime_string: string
    :return: datetime
    """
    return datetime.strptime(datetime_string, '%m/%d/%Y')

def to_age(birthdate):
    """
    :param birthdate: datetime
    :return: the age calculated by number of years: int
    """

    today = datetime.today()
    age = today.year - birthdate.year
    if (today.month == birthdate.month and today.day < birthdate.day) or today.month < birthdate.month:
        age = age - 1
    
    return age

'''
    This function return a list of dictionary based on the data in csv file
    It receives a string which represents the path of csv file
'''                          
def to_dictionaries(file_name):      
    data = pd.read_csv(file_name)
    dictionaries = []
    for individual in data.iloc:
        fullname = " ".join([individual["lastname"], individual["middlename"], individual["firstname"]])
        birthdate = to_datetime(individual["birthdate"])
        age = to_age(birthdate)

        dictionary = {}
        for column in data.columns:
            dictionary[column] = individual[column]
        dictionary["fullname"] = fullname
        dictionary["age"] = age
        
        dictionaries.append(dictionary)
    
    return dictionaries

In [213]:
dictionaries = to_dictionaries("addresses.csv")
dictionaries

[{'firstname': 'John',
  'lastname': 'Doe',
  'middlename': 'Stephen',
  'birthdate': '2/17/1999',
  'street': '120 jefferson st.',
  'city': 'Riverside',
  'state': ' NJ',
  'postcode': 8075,
  'fullname': 'Doe Stephen John',
  'age': 22},
 {'firstname': 'Jack',
  'lastname': 'McGinnis',
  'middlename': 'Jordan',
  'birthdate': '3/18/2000',
  'street': '220 hobo Av.',
  'city': 'Phila',
  'state': ' PA',
  'postcode': 9119,
  'fullname': 'McGinnis Jordan Jack',
  'age': 21},
 {'firstname': 'John "Da Man"',
  'lastname': 'Repici',
  'middlename': 'Peter',
  'birthdate': '04/19/2001',
  'street': '120 Jefferson St.',
  'city': 'Riverside',
  'state': ' NJ',
  'postcode': 8075,
  'fullname': 'Repici Peter John "Da Man"',
  'age': 20},
 {'firstname': 'Stephen',
  'lastname': 'Tyler',
  'middlename': 'Parker',
  'birthdate': '5/20/1999',
  'street': '7452 Terrace "At the Plaza" road',
  'city': 'SomeTown',
  'state': 'SD',
  'postcode': 91234,
  'fullname': 'Tyler Parker Stephen',
  'age': 22},
 {'firstname': 'Tony',
  'lastname': 'Blankman',
  'middlename': 'Sydney',
  'birthdate': '6/19/2000',
  'street': '1999 Boshton',
  'city': 'SomeTown',
  'state': ' SD',
  'postcode': 298,
  'fullname': 'Blankman Sydney Tony',
  'age': 21},
 {'firstname': 'Joan "the bone", Anne',
  'lastname': 'Bruce',
  'middlename': 'Jet',
  'birthdate': '1/1/2000',
  'street': '9th, at Terrace plc',
  'city': 'Desert City',
  'state': 'CO',
  'postcode': 123,
  'fullname': 'Bruce Jet Joan "the bone", Anne',
  'age': 21},
 {'firstname': 'Loc',
  'lastname': 'Nguyen',
  'middlename': 'Vo',
  'birthdate': '2/17/1999',
  'street': '123 Lac Long Quan',
  'city': 'Khanh Hoa',
  'state': 'VN',
  'postcode': 75000,
  'fullname': 'Nguyen Vo Loc',
  'age': 22}]