In [43]:
import numpy as np
import pandas as pd

# Import data from addresses.csv file

In [44]:
data = pd.read_csv("addresses.csv")
data

,firstname,lastname,street,city,state,postcode
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123
6,Loc,Nguyen,123 Lac Long Quan,Khanh Hoa,VN,75000

# Visualize data

In [46]:
# The size of data (7 rows, 6 columns)

data.shape

(7, 6)

In [47]:
print("List of column name:", data.columns)
print("The 4th column name:", data.columns[3])

List of column name: Index(['firstname', 'lastname', 'street', 'city', 'state', 'postcode'], dtype='object')
The 4th column name: city

In [38]:
# Get firstname data

data["firstname"]

0                     John
1                     Jack
2            John "Da Man"
3                  Stephen
4                      NaN
5    Joan "the bone", Anne
Name: firstname, dtype: object

In [68]:
# Get first row in data

data.iloc[0]

firstname                 John
lastname                   Doe
street       120 jefferson st.
city                 Riverside
state                       NJ
postcode                  8075
Name: 0, dtype: object

In [70]:
# get street from the first row in data

data.iloc[1]["street"]

'220 hobo Av.'